<div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-1 sm:grid-cols-3 xl:grid-cols-4 gap-5 pt-5 w-full">
  <div  *ngFor="let item of data" class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <img class="rounded-t-lg" [src]='item.image' alt="">
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{item.name}}, {{item.type}}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">State: {{item.condition}}</p>
      <button [routerLink]="[item.path]" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Detail</button>
    </div>
  </div>
</div>
